/* ------------------------- Correction of the old base style ------------------------- */

.e_page .tm-manual-content {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: 'Montserrat', sans-serif !important;
    line-height: 1.3;
    color: #0f0f0f!important;
}
.e_page .tm-manual-content :last-child {
    /*margin-bottom: 12px;
    margin-top: 12px;*/
}
.e_page .tm-manual-content h1,
.e_page .tm-manual-content h2,
.e_page .tm-manual-content h3,
.e_page .tm-manual-content h4,
.e_page .tm-manual-content h5 {
    font-family: "Open Sans", sans-serif;
    line-height: 1.3;
    color: #0f0f0f!important;
}
.tm-manual-content h1 {
    background-position: 0 0.44em;
    margin-bottom: 2.13em;
}
.tm-manual-content h2 {
    margin-top: 3.11em !important;
    display: flex;
    align-items: center;
}
.tm-manual-content h3 {
    margin-top: 3em !important;
}
.tm-manual-content h4 {
    font-size: 1.14em !important;
    font-weight: 700;
}
.tm-manual-content h5 {
    font-size: 1.07em !important;
    font-weight: 600;
}
.tm-manual-content a {
    text-decoration: underline;
}
.tm-manual-content a:hover,
.tm-manual-content a:active {
    text-decoration: none;
}
.bx--snippet__icon {
    fill: #797979;
}
.tm-manual-content .btn-clipboard {
    top: 0;
}

/* ------------------------- Colors ------------------------- */
.e_page .tm-manual-content .--red-color {
    color: #EB5757 !important;
}
.--gray-background {
	background: #f3f3f9;
    /* background: #F7F7F7; */
}

/* ------------------------- Removing old style in blocks ------------------------- */
/* .tm-manual-content ul,
.tm-manual-content ol,
.tm-manual-content li,
.tm-manual-content li:after,
.tm-manual-content li:before {
    all: unset;
} */
.tm-manual-content *,
.tm-manual-content li:after,
.tm-manual-content li:before {
    box-sizing: border-box;
}


/* ------------------------- Elements Style ------------------------- */
ul.list,
ol.list {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}
li.list__item {
    margin: 0 0 0.57em 0;
    display: block;
    font-size: 1em;
    line-height: 1.3;
    padding-left: 1.71em;
    list-style: none;
    position: relative;
}
li.list__item:last-of-type {
    margin-bottom: 0;
}
li.list__item.--marks:after {
    content: "";
    display: block;
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background-color: #ababab;
    background-image: none;
    border-radius: 50%;
    left: 0;
    top: 0.45em;
}
ul.inner-list,
ol.inner-list {
    margin: 0.57em 0;
    display: block;
}
li.inner-list__item {
    font-size: 1em;
    padding-left: 1.14em;
    margin: 0 0 0.57em 0;
    display: block;
    line-height: 1.3;
    list-style: none;
    position: relative;
}
li.inner-list__item.--marks-round:after {
    content: "";
    display: block;
    position: absolute;
    border: 0.1429em solid #ababab;
    border-radius: 50%;
    width: 0.43em;
    height: 0.43em;
    background-color: rgba(171, 171, 171, 0);
    left: 0;
    top: 0.5em;
}
li.inner-list__item:last-of-type {
    margin-bottom: 0;
}


ol.counter-start {
    padding-left: 2.5em;
    list-style: none;
    counter-reset: li;
    position: relative;
    margin: 0;
}
li.list__item.--numbered {
    margin: 0 0 0.5714em 0;
    padding-left: 0;
    position: relative;
    line-height: 1.3;
}
li.list__item.--numbered:before {
    color: #0f0f0f;
    background: #FFD200;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    width: 1.4286em;
    height: 1.4286em;
    font-weight: 700;
    text-align: center;
    left: -2.5em;
    top: auto;
    margin-top: 0;
}
ol.counter-start[start="2"] {
    counter-reset: list 1;
}
ol.counter-start[start="3"] {
    counter-reset: list 2;
}
ol.counter-start[start="4"] {
    counter-reset: list 3;
}
ol.counter-start[start="5"] {
    counter-reset: list 4;
}
ol.counter-start[start="6"] {
    counter-reset: list 5;
}
ol.counter-start[start="7"] {
    counter-reset: list 6;
}
ol.counter-start[start="8"] {
    counter-reset: list 7;
}
ol.counter-start[start="9"] {
    counter-reset: list 8;
}
ol.counter-start[start="10"] {
    counter-reset: list 9;
}
ol.counter-start[start="11"] {
    counter-reset: list 10;
}
ol.counter-start[start="12"] {
    counter-reset: list 11;
}
ol.counter-start[start="13"] {
    counter-reset: list 12;
}
ol.counter-start[start="14"] {
    counter-reset: list 13;
}
ol.counter-start[start="15"] {
    counter-reset: list 14;
}
ol.counter-start[start="16"] {
    counter-reset: list 15;
}
ol.counter-start[start="17"] {
    counter-reset: list 16;
}
ol.counter-start[start="18"] {
    counter-reset: list 17;
}
ol.counter-start[start="19"] {
    counter-reset: list 18;
}
ol.counter-start[start="20"] {
    counter-reset: list 19;
}
ol.counter-start[start="21"] {
    counter-reset: list 20;
}
ol.counter-start[start="22"] {
    counter-reset: list 21;
}
ol.counter-start[start="23"] {
    counter-reset: list 22;
}
ol.counter-start[start="24"] {
    counter-reset: list 23;
}
ol.counter-start[start="25"] {
    counter-reset: list 24;
}
ol.counter-start[start] li.--numbered:before {
    counter-increment: list;
    content: counter(list) "";
}

ol.inner-list.counter-start {
    padding-left: 0;
}
li.inner-list__item.--nested-numbered {
    margin-left: 0;
    padding-left: 0;
}
li.inner-list__item.--nested-numbered:before {
    counter-increment: li;
    content: counters(li,".") ". ";
    background: none;
    font-weight: 700;
    position: relative;
    width: auto;
    left: 0;
    vertical-align: top;
    padding-right: 0.7em;
}
li.inner-list__item.--nested-numbered:after {
    display: none;
}

li.inner-list__item.--marks-square {
    padding-left: 1.45em;
    list-style: none;
    margin-left: 0;
}
li.inner-list__item.--marks-square:before {
    display: none;
}
li.inner-list__item.--marks-square:after {
    content: "";
    display: block;
    position: absolute;
    width: 0.3571em;
    height: 0.3571em;
    background-color: #ababab;
    background-image: none;
    border-radius: 0;
    top: 0.5em;
    left: 0;
}
ol.inner-list ul.inner-list {
    margin-left: 2.7em;
}

li.list__item.--marks-yellow {
    padding-left: 2.29em;
}
li.list__item.--marks-yellow:after {
    content: "";
    display: block;
    position: absolute;
    width: 1.4286em;
    height: 1.4286em;
    border: none;
    border-radius: 0;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.2002 7.92346H22.639V23.9798H7.2002V7.92346Z' fill='%230F0F0F'/%3E%3Cpath d='M24.5237 25.7056C30.0375 20.1916 30.0375 11.2551 24.5237 5.74118C19.0097 0.227224 10.0733 0.227224 4.55929 5.74118C-0.954661 11.2551 -0.954661 20.1916 4.55929 25.7056C10.0733 31.2194 19.0155 31.2194 24.5237 25.7056ZM9.47981 13.5656L12.6545 16.7403L19.6088 9.79167L22.0692 12.2519L15.1205 19.2006L12.6545 21.6609L10.1943 19.2006L7.01956 16.0258L9.47981 13.5656Z' fill='%23FFD205'/%3E%3C/svg%3E");
    background-color: rgba(255, 255, 255, 0);
    background-size: contain;
    background-position: center;
}

.--margin-y-24,
p.--margin-y-24,
ul.list.--margin-y-24,
ol.list.--margin-y-24 {
    margin-top: 1.7143em !important;
    margin-bottom: 1.7143em !important;
}
.--margin-y-32,
p.--margin-y-32,
ul.list.--margin-y-32,
ol.list.--margin-y-32 {
    margin-top: 2.2857em !important;
    margin-bottom: 2.2857em !important;
}
.--margin-y-40,
p.--margin-y-40,
ul.list.--margin-y-40,
ol.list.--margin-y-40 {
    margin-top: 2.8571em !important;
    margin-bottom: 2.8571em !important;
}
.--margin-y-48,
p.--margin-y-48,
ul.list.--margin-y-48,
ol.list.--margin-y-48 {
    margin-top: 3.4286em !important;
    margin-bottom: 3.4286em !important;
}
.--margin-y-56,
p.--margin-y-56,
ul.list.--margin-y-56,
ol.list.--margin-y-56 {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
}
.--margin-y-64,
p.--margin-y-64,
ul.list.--margin-y-64,
ol.list.--margin-y-64 {
    margin-top: 4.5714em !important;
    margin-bottom: 4.5714em !important;
}

.--margin-t-0,
p.--margin-t-0,
ul.list.--margin-t-0,
ol.list.--margin-t-0 {
    margin-top: 0 !important;
}
.--margin-b-0,
p.--margin-b-0,
ul.list.--margin-b-0,
ol.list.--margin-b-0 {
    margin-bottom: 0 !important;
}

/* ------------------------- Blocks Style ------------------------- */
section.--wrapper {
    margin: 3.4286em 0;
}
.annotation {
    background: #f3f3f9;
    padding: 1.7143em 1.1429em;
}
.annotation :first-child {
    margin-top: 0 !important;
}
.annotation :last-child {
    margin-bottom: 0 !important;
}
.annotation.--exclamation {
	background: #f3f3f9 url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='63' viewBox='0 0 14 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0.0310059 0L2.27831 46.961H11.4103L13.6643 0H0.0310059Z' fill='%23C4C4C4'/%3E%3Cpath d='M11.2027 54.2205H2.48682V62.9336H11.2027V54.2205Z' fill='%23C4C4C4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='13.7647' height='63' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat 1.5em center;
    /* background: #F7F7F7 url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='63' viewBox='0 0 14 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0.0310059 0L2.27831 46.961H11.4103L13.6643 0H0.0310059Z' fill='%23C4C4C4'/%3E%3Cpath d='M11.2027 54.2205H2.48682V62.9336H11.2027V54.2205Z' fill='%23C4C4C4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='13.7647' height='63' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat 1.5em center; */
    background-size: 1.1em auto;
    padding-left: 3.9em;
    font-weight: 700;
}

.columns-blosk__item {
    margin-top: 2.2857em;
}
.columns-blosk__item :first-child {
    margin-top: 0 !important;
}
.columns-blosk__item :last-child {
    margin-bottom: 0 !important;
}
.columns-blosk__item:first-of-type {
    margin-top: 0;
}
.columns-blosk__item.--gray-background {
    padding: 1.7143em 1.1429em;
    margin-top: 1.7143em;
}
.columns-blosk__item.--gray-background:first-of-type {
    margin-top: 0;
}
pre {
	background-color: #f3f3f9 !important;
	/* background-color: #e8e8e8 !important; */
    font: 14px/20px "Courier New", Courier, monospace;
    padding: 1.7143em;
    width: 100%;
    border-radius: 0;
    position: relative;
    margin: 1.7143em 0;
}

.screenshot {
    box-shadow: 0 1.0518rem 3.5rem -1.1661rem rgba(0,0,0,.3)!important;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.scheme {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.image-title {
    font-size: 12px;
    opacity: .65;
    text-align: center;
}
.image-block.--wrapper {
    margin: 24px 0 32px;
}
.image-block.--wrapper :first-child {
    margin-top: 0;
}
.image-block.--wrapper :last-child {
    margin-bottom: 0;
}
.simple-banner {
    position: relative;
    padding: 1.1429em;
    background-size: cover;
    background-position: center center;
}
.simple-banner.--background-left {
    background-position: 0 center;
}
.simple-banner.--background-right {
    background-position: right center;
}
.simple-banner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.simple-banner__inner-block {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 3.4286em 1.1429em;
    text-align: center;
}
.simple-banner__topinfo {
    margin-bottom: 2.8571rem;
    color: #fff;
}
.simple-banner__topinfo :first-child {
    margin-top: 0 !important;
}
.simple-banner__topinfo :last-child {
    margin-bottom:  0 !important;
}
.simple-banner__title {
    font-weight: 700;
    font-size: 1.7143em;
    margin-bottom: 2.2857rem;
}
.simple-banner__subtitle {
    font-weight: 700;
    font-size: 1.2857em;
    margin-bottom: 2.2857rem;
}

.image-block {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* ------------------------- Media  Style ------------------------- */
@media (max-width: 991px) {
    .image-block {
        min-height: 6rem;
    }
}

@media (min-width: 375px) {

}
@media (min-width: 425px) {
    .annotation {
        padding: 2.2857em 1.7143em;
    }
    .columns-blosk__item.--gray-background {
        padding: 2.2857em 1.7143em;
    }
    .simple-banner__title {
        font-size: 2em;
    }

}
@media (min-width: 576px) {
    .annotation {
        padding: 2.2857em;
    }
    .columns-blosk__item.--gray-background {
        padding: 2.2857em;
    }

}
@media (min-width: 768px) {
    .annotation {
        padding: 2.8571em;
    }
    .columns-blosk {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .columns-blosk__item.--2-column {
        width: calc(50% - 1.7143em);
    }
    .columns-blosk__item.--2-column:nth-of-type(2) {
        margin-top: 0;
    }
    .columns-blosk__item.--gray-background {
        padding: 2.8571em;
    }
    .columns-blosk__item.--gray-background.--2-column {
        width: calc(50% - 0.8571em);
    }
    .columns-blosk__item.--gray-background.--3-column {
        width: calc(50% - 0.8571em);
    }
    .columns-blosk__item.--3-column:nth-of-type(2) {
        margin-top: 0;
    }
    pre {
        padding: 2.8571em;
    }
    .screenshot {
        max-width: 55.2857em;
    }
    .simple-banner__inner-block {
        padding: 3.4286em 5em;
    }

}
@media (min-width: 992px) {
    .simple-banner__inner-block {
        padding: 4.5714em 5em;
    }
}
@media (min-width: 1200px) {
    .columns-blosk__item.--gray-background.--3-column {
        width: calc(33.33% - 1.1429em);
    }
    .columns-blosk__item.--3-column:nth-of-type(3) {
        margin-top: 0;
    }
}
@media (min-width: 1366px) {

}
@media (min-width: 14400px) {

}
@media (min-width: 1600px) {

}

@media (max-width: 575px) {
    .simple-banner:before {
        background: rgba(0, 0, 0, 0.6);
    }
}
.stepToStart .pic img{
  width: 400px;
    position: relative;
    top: -30px;
}
