<div id="rec262927501" class="r t-rec t-rec_pt_0" style="padding-top:0px; " data-animationappear="off"
     data-record-type="698"><!-- t698 --><!-- cover -->
    <div class="t-cover" id="recorddiv262927501" bgimgfield="img"
         style="height:70vh; background-image:url('https://static.tildacdn.com/tild3630-3138-4162-b338-373233376633/-/resize/20x/Network-Zone.jpg');">
        <div class="t-cover__carrier loaded" id="coverCarry262927501" data-content-cover-id="262927501"
             data-content-cover-bg="https://static.tildacdn.com/tild3630-3138-4162-b338-373233376633/Network-Zone.jpg"
             data-content-cover-height="70vh" data-content-cover-parallax=""
             style="height: 70vh; background-attachment: scroll; background-image: url(&quot;https://thumb.tildacdn.com/tild3630-3138-4162-b338-373233376633/-/format/webp/Network-Zone.jpg&quot;);"></div>
        <div class="t-cover__filter"
             style="height:70vh;background-image: -moz-linear-gradient(top, rgba(15,15,15,0.90), rgba(15,15,15,0.50));background-image: -webkit-linear-gradient(top, rgba(15,15,15,0.90), rgba(15,15,15,0.50));background-image: -o-linear-gradient(top, rgba(15,15,15,0.90), rgba(15,15,15,0.50));background-image: -ms-linear-gradient(top, rgba(15,15,15,0.90), rgba(15,15,15,0.50));background-image: linear-gradient(top, rgba(15,15,15,0.90), rgba(15,15,15,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#190f0f0f', endColorstr='#7f0f0f0f');"></div>
        <div class="t698">
            <div class="t-container ">
                <div class="t-width t-width_8 t698__mainblock">
                    <div class="t-cover__wrapper t-valign_middle" style="height:70vh;">
                        <div class="t698__mainwrapper" data-hook-content="covercontent">
                            <h2 class="t698__title t-title t-title_xs"
                                style="color:#f3f3f9;font-size:40px;font-weight:700;" field="title">
                                <div style="font-size:40px;" data-customstyle="yes">Есть вопросы?</div>
                            </h2>
                            <div class="t698__descr t-descr t-descr_md"
                                 style="color:#f3f3f9;font-size:20px;font-weight:500;" field="descr">Закажите звонок
                                специалиста
                            </div>
                            <div>
                                <form id="form262927501" name="form262927501" role="form" action="" method="POST"
                                      data-formactiontype="2" data-inputbox=".t-input-group"
                                      class="t-form js-form-proccess t-form_inputs-total_2 "
                                      data-success-callback="t698_onSuccess"><input type="hidden" name="formservices[]"
                                                                                    value="17b9b37ead71a6e3afcdc1e9a4673959"
                                                                                    class="js-formaction-services">
                                    <div class="js-successbox t-form__successbox t-text t-text_md"
                                         style="display:none;"></div>
                                    <div class="t-form__inputsbox">
                                        <div class="t-input-group t-input-group_nm" data-input-lid="1495646533382">
                                            <div class="t-input-block"><input type="text" autocomplete="name"
                                                                              name="Name" class="t-input js-tilda-rule "
                                                                              value="" placeholder="Имя"
                                                                              data-tilda-rule="name"
                                                                              style="color:#484848; border:0px solid #ffffff; background-color:#f3f3f9; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;">
                                                <div class="t-input-error"></div>
                                            </div>
                                        </div>
                                        <div class="t-input-group t-input-group_ph" data-input-lid="1495646545048">
                                            <div class="t-input-block"><input type="tel" autocomplete="tel" name="Phone"
                                                                              class="t-input js-tilda-rule js-tilda-mask "
                                                                              value="" placeholder="Номер телефона"
                                                                              data-tilda-req="1" data-tilda-rule="phone"
                                                                              pattern="[0-9]*"
                                                                              data-tilda-mask="+7 999 999-99-99"
                                                                              style="color:#484848; border:0px solid #ffffff; background-color:#f3f3f9; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;">
                                                <div class="t-input-error"></div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="product" tabindex="-1"
                                               value="Задать вопрос по облачным сервисам"> <input type="hidden"
                                                                                                  name="utm_campaign"
                                                                                                  tabindex="-1"
                                                                                                  value="cloud_d5">
                                        <div class="t-form__errorbox-middle">
                                            <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                                <div class="t-form__errorbox-text t-text t-text_md"><p
                                                            class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                                    <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                                    <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                                    <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                                    <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                                    <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                                                    <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="t-form__submit">
                                            <button type="submit" class="t-submit"
                                                    style="color:#0f0f0f;background-color:#ffd200;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;">
                                                Заказать
                                            </button>
                                        </div>
                                    </div>
                                    <div class="t-form__errorbox-bottom">
                                        <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                            <div class="t-form__errorbox-text t-text t-text_md"><p
                                                        class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                                                <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="h1_title"
                                           value="Облачные решения для бизнесаОблачные решения для бизнеса"><input
                                            type="hidden" name="referer" value="https://dev.efsol.ru/cloud/">
                                    <div style="position: absolute; left: -5000px; bottom:0;"><input type="text"
                                                                                                     name="form-spec-comments"
                                                                                                     value="Its good"
                                                                                                     class="js-form-spec-comments"
                                                                                                     tabindex="-1">
                                    </div>
                                </form>
                                <style>#rec262927501 input::-webkit-input-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }

                                    #rec262927501 input::-moz-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }

                                    #rec262927501 input:-moz-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }

                                    #rec262927501 input:-ms-input-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }

                                    #rec262927501 textarea::-webkit-input-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }

                                    #rec262927501 textarea::-moz-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }

                                    #rec262927501 textarea:-moz-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }

                                    #rec262927501 textarea:-ms-input-placeholder {
                                        color: #484848;
                                        opacity: 0.5;
                                    }</style>
                            </div>
                            <div class="t698__form-bottom-text t-text t-text_xs" field="text">*нажимая на кнопку, Вы
                                даете согласие на <a href="https://efsol.ru/privacy-policy.php"
                                                     style="color:#ffffff !important;text-decoration: none;border-bottom: 1px solid #ffffff;box-shadow: inset 0px -0px 0px 0px #ffffff;-webkit-box-shadow: inset 0px -0px 0px 0px #ffffff;-moz-box-shadow: inset 0px -0px 0px 0px #ffffff;"
                                                     target="_blank" rel="nofollow noopener">обработку персональных
                                    данных</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>#rec262927501 .t-submit:hover {
            background-color: #f3f3f9 !important;
            color: #0f0f0f !important;
        }

        #rec262927501 .t-submit {
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }</style>
    <style>#rec262927501 .t-btn[data-btneffects-first],
        #rec262927501 .t-btn[data-btneffects-second],
        #rec262927501 .t-submit[data-btneffects-first],
        #rec262927501 .t-submit[data-btneffects-second] {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }</style>
</div>