<div id="rec261865586" class="r t-rec t-rec_pt_75 t-rec_pb_0"
     style="padding-top:75px;padding-bottom:0px;background-color:#f3f3f9; " data-record-type="60"
     data-bg-color="#f3f3f9" data-animationappear="off"><!-- T050 -->
    <div class="t050">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1"><h2 class="t050__title t-title t-title_xxl" field="title"
                                                       style="color:#0f0f0f;font-size:40px;font-weight:700;font-family:'Montserrat';">
                    Услуги</h2></div>
        </div>
    </div>
</div>
<div id="rec261862971" class="r t-rec t-rec_pt_45 t-rec_pb_75"
     style="padding-top:45px;padding-bottom:75px;background-color:#f3f3f9; " data-record-type="539"
     data-bg-color="#f3f3f9" data-animationappear="off"><!-- t539 -->
    <div class="t539" style="visibility: visible;">
        <div class="t539__container t-container">
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_odd t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457112467"
                 style="transition-delay: 0s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1478185125761"
                         data-original="https://static.tildacdn.com/tild3066-3463-4464-a233-666333616661/1.svg"
                         style="background-image: url(&quot;https://static.tildacdn.com/tild3066-3463-4464-a233-666333616661/1.svg&quot;); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 327px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1478185125761">
                            <div style="line-height:24px;" data-customstyle="yes">Облачные серверы<br><br></div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1478185125761">
                            <u></u>
                            <ul>
                                <li><u><a href="https://efsol.ru/solutions/enterprise-cloud.html"
                                          style="color: rgb(0, 0, 0);" target="_blank" rel="nofollow noopener">Аренда
                                            сервера 1С</a></u></li>
                                <li><u><a href="https://efsol.ru/promo/arenda-klaster-1s.html"
                                          style="color: rgb(0, 0, 0);" target="_blank" rel="nofollow noopener">Кластер
                                            серверов 1С</a></u></li>
                                <li><u><a href="https://efsol.ru/promo/dedicated-server-1s.html"
                                          style="color:#000000 !important;text-decoration: none;border-bottom: 0px solid;box-shadow: inset 0px -0px 0px 0px;-webkit-box-shadow: inset 0px -0px 0px 0px;-moz-box-shadow: inset 0px -0px 0px 0px;"
                                          rel="nofollow" data-redactor-tag="a">Выделенный сервер 1С</a></u></li>
                                <li><a href="https://efsol.ru/promo/hybrid-cloud.html" style=""><span
                                                data-redactor-tag="span" style="color: rgb(0, 0, 0);"><u>Гибридное облако</u></span></a>
                                </li>
                                <li><u><a href="https://efsol.ru/promo/hosting-1s.html" style="color: rgb(0, 0, 0);"
                                          target="_blank" rel="nofollow noopener">Хостинг 1С</a></u></li>
                                <li><u><a href="https://efsol.ru/solutions/server-israel.html"
                                          style="color: rgb(0, 0, 0);" target="_blank" rel="nofollow noopener">Сервер в
                                            Израиле</a></u></li>
                                <li>
                                    <u><a href="#form_title=Заказать сервер в Голландии&amp;product=Сервер в Голландии&amp;utm_campaign=cloud_d5"
                                          style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(0, 0, 0);"
                                          rel="nofollow">Сервер в Голландии</a></u></li>
                                <li><a href="https://efsol.ru/promo/cloud-office-service.html"
                                       style="color:rgb(0, 0, 0) !important;"><u>Виртуальный офис</u></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_even t-animate t-animate_started"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457112627"
                 style="transition-delay: 0.16s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1478185134628"
                         data-original="https://static.tildacdn.com/tild6136-3236-4331-a464-643333646265/2.svg"
                         style="background-image: url(&quot;https://static.tildacdn.com/tild6136-3236-4331-a464-643333646265/2.svg&quot;); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 327px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1478185134628">
                            <div style="line-height:24px;" data-customstyle="yes">1С в облаке<br><br></div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1478185134628">
                            <div style="line-height:26px;" data-customstyle="yes">
                                <ul>
                                    <li><a href="https://efsol.ru/promo/arenda-buhgalteriya.html"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"><u>1С:Бухгалтерия</u></a>
                                    </li>
                                    <li><a href="https://efsol.ru/promo/arenda-ut.html" target="_blank"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow noopener"><u>1С:Управление торговлей</u></a></li>
                                    <li>
                                        <a href="#form_title=Заказать 1С:Зарплата и управление персоналом&amp;product=Аренда 1С:ЗУП&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>1С:Зарплата и управление персоналом</u></a></li>
                                    <li>
                                        <a href="#form_title=Заказать 1С:Комплексная автоматизация&amp;product=Аренда 1С:Комплексная автоматизация&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>1С:Комплексная автоматизация</u></a></li>
                                    <li>
                                        <a href="#form_title=Заказать 1С:ERP Управление предприятием 2&amp;product=Аренда 1С:ERP&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>1С:ERP Управление предприятием 2</u></a></li>
                                    <li><a href="https://efsol.ru/promo/arenda-unf.html" target="_blank"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow noopener"><u>1С:Управление нашей фирмой</u></a></li>
                                    <li>
                                        <a href="#form_title=Заказать 1С:CRM&amp;product=Аренда 1С:CRM&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>1С:CRM</u></a></li>
                                    <li>
                                        <a href="#form_title=Заказать 1С:Розница&amp;product=Аренда 1С:Розница&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>1С:Розница</u></a></li>
                                    <li>
                                        <a href="#form_title=Заказать 1С:Кадровое агенство&amp;product=Аренда 1С:Кадровое агенство&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>1С:Кадровое агенство</u></a></li>
                                    <li>
                                        <a href="#form_title=Заказать любую конфигурация 1С&amp;product=Хостинг 1С&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>Любая ваша конфигурация 1С</u></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_odd t-animate t-animate_started"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457112787"
                 style="transition-delay: 0.32s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1478185141888"
                         data-original="https://static.tildacdn.com/tild3465-3539-4536-b739-376437616463/3.svg"
                         style="background-image: url(&quot;https://static.tildacdn.com/tild3465-3539-4536-b739-376437616463/3.svg&quot;); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 327px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1478185141888">
                            <div style="line-height:24px;" data-customstyle="yes">Хранение данных в&nbsp;облаке<br><br>
                            </div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1478185141888">
                            <div style="line-height:26px;" data-customstyle="yes">
                                <ul>
                                    <li>
                                        <a href="#form_title=Заказать хранилище S3&amp;product=Объектное хранилище S3&amp;utm_campaign=cloud_d5"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           rel="nofollow"><u>Объектное хранилище S3</u></a></li>
                                    <li>
                                        <u><a href="#form_title=Заказать DBaaS&amp;product=Database as Service&amp;utm_campaign=cloud_d5"
                                              style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;">DBaaS:
                                                облачные базы данных</a></u></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__separator t-clear" style=""></div>
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_even t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457113161"
                 style="transition-delay: 0.16s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1608104192398"
                         data-original="https://static.tildacdn.com/tild3133-6436-4134-a633-313861346163/4.svg"
                         style="background-image: url(&quot;https://static.tildacdn.com/tild3133-6436-4134-a633-313861346163/4.svg&quot;); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 251px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1608104192398">
                            <div style="line-height:24px;" data-customstyle="yes">Сервисы разработки и&nbsp;тестирования<br><br>
                            </div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1608104192398">
                            <div style="line-height:26px;" data-customstyle="yes">
                                <ul>
                                    <li><u><a href="https://efsol.ru/promo/speedtest-1s.html"
                                              style="color:rgb(15, 15, 15) !important;" data-redactor-tag="a">Сервер для
                                                тестирования 1С</a></u></li>
                                    <li><a href="https://efsol.ru/promo/hardware-rent.html"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           target="_blank" rel="noopener"><u>Сервер для разработки 1С</u></a></li>
                                    <li><u><a href="https://efsol.ru/promo/monitoring-it.html"
                                              style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                              target="_blank" rel="nofollow noopener">Облачная система
                                                ИТ-мониторинга</a></u></li>
                                    <li>
                                        <a href="#form_title=%D0%97%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%D0%BA%D0%BB%D0%B0%D1%81%D1%82%D0%B5%D1%80%20Kubernetes&amp;product=%D0%9A%D0%BB%D0%B0%D1%81%D1%82%D0%B5%D1%80%D1%8B%20Kubernetes&amp;utm_campaign=cloud_d5"
                                           style="color:#0f0f0f !important;"><u>Кластеры Kubernetes</u></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_odd t-animate t-animate_started"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457113321"
                 style="transition-delay: 0.32s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1608104194021"
                         data-original="https://static.tildacdn.com/tild6430-6336-4630-a230-646638393961/5.svg"
                         style="background-image: url(&quot;https://static.tildacdn.com/tild6430-6336-4630-a230-646638393961/5.svg&quot;); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 251px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1608104194021">
                            <div style="line-height:24px;" data-customstyle="yes">Корпоративные коммуникации<br><br>
                            </div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1608104194021">
                            <div style="line-height:26px;" data-customstyle="yes">
                                <ul>
                                    <li><a href="https://efsol.ru/promo/exchange.html"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           target="_blank" rel="nofollow noopener"><u>Аренда почты MS Exchange</u></a>
                                    </li>
                                    <li><a href="https://efsol.ru/promo/protected-email.html"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           target="_blank" rel="nofollow noopener"><u>Защищенная корпоративная почта</u></a>
                                    </li>
                                    <li><a href="https://efsol.ru/promo/cloud-telephony.html"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           target="_blank" rel="nofollow noopener"><u>Облачная IP-телефония</u></a></li>
                                    <li><a href="https://efsol.ru/promo/tiket-sistema.html"
                                           style="border-bottom: 0px solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"
                                           target="_blank" rel="nofollow noopener"><u>Облачная тикет-система</u></a>
                                    </li>
                                </ul>
                                <br></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_even t-animate t-animate_started"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457113481"
                 style="transition-delay: 0.48s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1608617666461"
                         data-original="https://static.tildacdn.com/tild3163-6335-4530-a562-636135636533/photo.svg"
                         style="background-image: url(&quot;https://static.tildacdn.com/tild3163-6335-4530-a562-636135636533/photo.svg&quot;); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 251px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1608617666461">
                            <div style="line-height:24px;" data-customstyle="yes">Резервирование <br>сервисов<br><br>
                            </div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1608617666461">
                            <div style="line-height:26px;" data-customstyle="yes">
                                <ul>
                                    <li>
                                        <a href="#form_title=%D0%97%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%D1%80%D0%B5%D0%B7%D0%B5%D1%80%D0%B2%D0%BD%D1%8B%D0%B9%20%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%201%D0%A1&amp;product=%D0%A0%D0%B5%D0%B7%D0%B5%D1%80%D0%B2%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%BE%D0%B2%20%D0%B8%20%D0%B1%D0%B0%D0%B7%201%D0%A1&amp;utm_campaign=cloud_d5"
                                           style="color:rgb(15, 15, 15) !important;"><u>Резервирование 1С</u></a></li>
                                    <li><a href="https://efsol.ru/promo/backup-it.html"
                                           style="border-bottom-style: solid; box-shadow: 0px 0px 0px 0px inset; color: rgb(15, 15, 15) !important;"><u>Резервирование
                                                ИТ-инфраструктуры</u></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>