<section id="scanner" class="functional-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1 class="h1 wow fadeIn full-opacity" data-wow-duration=".5s" style="visibility: visible; animation-duration: 0.5s; animation-name: fadeIn;">
                        <span>Введите имя домена либо IP-адрес для сканирования</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="text" class="form-control" name="url" id="task_url" placeholder="https://example.com">
            <button class="btn b__button_yellow triang__white" id="scan">Сканировать</button>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
