<div id="rec261862361" class="r t-rec t-rec_pt_75 t-rec_pb_0"
     style="padding-top:75px;padding-bottom:0px;background-color:#ffffff; " data-record-type="60"
     data-bg-color="#ffffff" data-animationappear="off"><!-- T050 -->
    <div class="t050">
        <div class="t-container t-align_center">
            <div class="t-col t-col_12 "><h2 class="t050__title t-title t-title_xxl" field="title"
                                             style="color:#0f0f0f;font-size:40px;font-weight:700;font-family:'Montserrat';">
                    Преимущества размещения в EFSOL Oblako</h2>
                <div class="t050__descr t-descr t-descr_xxl" field="descr"
                     style="color:#0f0f0f;font-size:20px;font-weight:500;font-family:'Montserrat';">Наша цель -
                    предоставлять клиентам наиболее качественный сервис
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rec261860435" class="r t-rec t-rec_pt_45 t-rec_pb_75 t-screenmin-480px"
     style="padding-top:45px;padding-bottom:75px; " data-record-type="503" data-screen-min="480px"><!-- t503 -->
    <div class="t503">
        <div class="t-container">
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed"
                 data-animate-style="fadein" data-animate-chain="yes" data-animate-start-time="1633458695773"
                 style="transition-delay: 0s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild6439-3334-4933-b939-613939386632/cloud-computing_2.svg"
                                class="t503__img t-img loading" imgfield="li_img__1476978617855" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1476978617855">Отказоустойчивость
                        </div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1476978617855">С&nbsp;помощью кластерных технологий достигается высокий
                        уровень отказоустойчивости сервисов.
                    </div>
                </div>
            </div>
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate_started" data-animate-style="fadein"
                 data-animate-chain="yes" data-animate-start-time="1633458695933" style="transition-delay: 0.16s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild3931-3336-4236-a430-643330646330/placeholder_3.svg"
                                class="t503__img t-img loading" imgfield="li_img__1476978621977" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1476978621977">Надежные дата-центры
                        </div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1476978621977">Возможность размещения на&nbsp;надежных площадках в&nbsp;Москве,
                        Голландии и&nbsp;Израиле.
                    </div>
                </div>
            </div>
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate_started" data-animate-style="fadein"
                 data-animate-chain="yes" data-animate-start-time="1633458696094" style="transition-delay: 0.32s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild6235-6435-4432-b266-643261303362/profile.svg"
                                class="t503__img t-img loading" imgfield="li_img__1476978655843" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1476978655843">Личный ИТ-инженер
                        </div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1476978655843">Мы&nbsp;предоставляем персонального специалиста для&nbsp;решения
                        Ваших задач.
                    </div>
                </div>
            </div>
            <div class="t-clear t503__separator" style="margin-bottom:30px;"></div>
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed"
                 data-animate-style="fadein" data-animate-chain="yes" data-animate-start-time="1633459434295"
                 style="transition-delay: 0s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild3633-3133-4437-b061-326534303136/group.svg"
                                class="t503__img t-img loading" imgfield="li_img__1476978737724" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1476978737724">Техническая <br>поддержка 24/7
                        </div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1476978737724">Трехуровневая служба технической поддержки клиентов работает в&nbsp;круглосуточном
                        режиме. Используется собственная система постановки задач.
                    </div>
                </div>
            </div>
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate_started" data-animate-style="fadein"
                 data-animate-chain="yes" data-animate-start-time="1633459434458" style="transition-delay: 0.16s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild6231-6230-4162-a539-666663646430/Frame_2.svg"
                                class="t503__img t-img loading" imgfield="li_img__1476978755814" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1476978755814">Гарантированная <br> доступность&nbsp;— SLA <br></div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1476978755814">Всем нашим клиентам мы&nbsp;предоставляем финансовые гарантии
                        доступности сервисов.
                    </div>
                </div>
            </div>
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate_started" data-animate-style="fadein"
                 data-animate-chain="yes" data-animate-start-time="1633459434619" style="transition-delay: 0.32s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild3631-3331-4833-a464-623834366666/Frame_3.svg"
                                class="t503__img t-img loading" imgfield="li_img__1476978778074" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1476978778074">Сохранность <br> коммерческих данных <br></div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1476978778074">Во&nbsp;всех сервисах реализована продвинутая система
                        резервного копирования с&nbsp;уведомлением клиента, данные клиентов хранятся изолированно.
                    </div>
                </div>
            </div>
            <div class="t-clear t503__separator" style="margin-bottom:30px;"></div>
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed"
                 data-animate-style="fadein" data-animate-chain="yes" data-animate-start-time="1633459434867"
                 style="transition-delay: 0.16s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild6234-6637-4565-b936-336137616564/group.svg"
                                class="t503__img t-img loading" imgfield="li_img__1608104863158" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1608104863158">Штат опытных ИТ-инженеров
                        </div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1608104863158">В&nbsp;нашем штате собраны сертифицированные ИТ-специалисты,
                        которые имеют опыт решения задач разной сложности.
                    </div>
                </div>
            </div>
            <div class="t503__col t-col t-col_4 t-item t-animate t-animate_started" data-animate-style="fadein"
                 data-animate-chain="yes" data-animate-start-time="1633459435027" style="transition-delay: 0.32s;">
                <div class="t503__content t-align_left">
                    <div class="t503__wrapper"><img
                                src="https://static.tildacdn.com/tild3937-6666-4161-a133-323335383633/flag.svg"
                                class="t503__img t-img loading" imgfield="li_img__1608104865011" style="width:50px;">
                        <div class="t503__title t-name t-name_md" style="color:#0f0f0f;font-size:20px;font-weight:700;"
                             field="li_title__1608104865011">Опыт с&nbsp;2004 года
                        </div>
                    </div>
                    <div class="t503__descr t-descr t-descr_xs"
                         style="color:#0f0f0f;font-size:14px;font-weight:400;font-family:'Montserrat';"
                         field="li_descr__1608104865011">Наш богатый опыт оказания ИТ-услуг позволил создать собственные
                        эффективные методики работы с&nbsp;клиентами.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>