{% extends 'landing/base.html.twig' %}

{% block title %}<title>Отчет</title>{% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/kube.min.css') }}" data-template-style="true">
    <script type="text/javascript" src="{{ asset('js/kube.min.js') }}"></script>
    <div class="content--page">
{#        <div id="allrecords" class="t-records" style="overflow: hidden;">#}
{#            {{ report | raw }}#}
{#            <script>$K.init();</script>#}
{#        </div>#}
        <div id="allrecords" class="t-records" style="overflow: hidden;">

            <div style="text-align: center">
                <h2 id="report_title" class="title" style="text-align: center">
                    <span>Отчет об уязвимостях</span>
                    <a href="/pdf/swsu.ru">pdf</a>
                </h2>
                <h3>Цель: http://swsu.ru/</h3>
                <p style="text-align: center; margin: auto; padding-top: 25px;">Дата сканирования: 19 октября 2021 21:02.</p> <br>
                <p style="margin: auto;">Область сканирования: url</p>
            </div>
            <h4 id="report_info">Итоговая информация</h4>
            <table class="width-100 hovered" id="report_table">
                <thead>
                <tr>
                    <th>Категория</th>
                    <th>Количество найденных уязвимостей</th>
                </tr>
                </thead>
                <tbody id="summary">
                <tr>
                    <td class="small">
                        Файл резервной копии
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Слабые учетные данные
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        CRLF (Carriage Return Line Feed) инъекция
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        <a href="#vuln_type_3">Конфигурация политики безопасности контента</a>
                    </td>
                    <td class="small .text-centered">1</td>
                </tr>
                <tr>
                    <td class="small">
                        Подделка межсайтовых запросов
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Потенциально опасный файл
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Выполнение команды
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Атака с обходом каталогов
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Цифровой отпечаток фреймворка веб приложения
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Цифровой отпечаток веб-сервера
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Обход Htaccess
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        HTTP заголовки безопасности
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Флаг HttpOnly cookie
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Открытое перенаправление
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Флаг Secure cookie
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        SQL-инъекция
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Подделка запросов на стороне сервера
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Захват субдомена
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        "Слепая" SQL инъекция
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Межсайтовый скриптинг
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Внешний объект XML
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Внутренняя ошибка сервера
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Потребление ресурсов
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        Цифровой отпечаток устройства (фингерпринт)
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                <tr>
                    <td class="small">
                        HTTP-методы
                    </td>
                    <td class="small .text-centered">0</td>
                </tr>
                </tbody>
            </table>
            <div id="details">
                <h3 id="vuln_type_3" class="report_h3">Конфигурация политики безопасности контента</h3>
                <dl>
                    <dt class="h3-yellow-small grey-figure wow fadeIn" style="visibility: hidden; animation-name: none;">Описание</dt>
                    <dd>Политика безопасности контента (CSP) - это дополнительный уровень безопасности, который помогает обнаруживать и уменьшать влияние определенных типов атак, включая атаки с использованием межсайтовых сценариев (XSS) и инъекции в данных.</dd>
                </dl>

                <h4 class="h3-yellow-small grey-figure wow fadeIn" style="margin-top: 40px; visibility: hidden; animation-name: none;">Уязвимости найдены в
                    /</h4>
                <nav class="tabs" data-kube="tabs" data-equal="true" data-height="equal" data-loaded="true">
                    <div style="margin-left: auto; margin-right: auto;">
                        <a href="#tab-vuln-3-0-1" class="is-active">Описание</a>
                        <a href="#tab-vuln-3-0-2">HTTP запрос</a>
                        <a href="#tab-vuln-3-0-3">cURL команда</a>
                    </div>
                </nav>
                <section id="tab-vuln-3-0-1" style="min-height: 174px;" class="is-open">
                    <pre>CSP (Content Security Policy) не установлен</pre>
                </section>
                <section id="tab-vuln-3-0-2" style="min-height: 174px;" class="is-hidden">
            <pre>GET / HTTP/1.1
Host: swsu.ru</pre>
                </section>
                <section id="tab-vuln-3-0-3" style="min-height: 174px;" class="is-hidden">
                    <pre>curl "http://swsu.ru/"</pre>
                </section>

                <dl style="margin-top: 50px;">
                    <dt class="h3-yellow-small grey-figure wow fadeIn" style="visibility: hidden; animation-name: none;">Решение</dt>
                    <dd>Настройка политики безопасности контента включает добавление HTTP-заголовка Content-Security-Policy на веб-страницу и присвоение ему значений для управления ресурсами, которые разрешено загружать пользовательскому агенту для этой страницы.</dd>
                </dl>
                <h5>Справочная информация</h5>
                <ul id="reference">
                    <li style="list-style-type: none;"><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">Mozilla: Content Security Policy (CSP)</a></li>
                    <li style="list-style-type: none;"><a href="https://cheatsheetseries.owasp.org/cheatsheets/Content_Security_Policy_Cheat_Sheet.html">OWASP: Content Security Policy Cheat Sheet</a></li>
                    <li style="list-style-type: none;"><a href="https://owasp.org/www-pdf-archive/2019-02-22_-_How_do_I_Content_Security_Policy_-_Print.pdf">OWASP: How to do Content Security Policy (PDF)</a></li>
                </ul>
                <br>
                <hr>
            </div>

            <script>$K.init();</script>
        </div>
    </div>
{% endblock %}