{% extends 'landing/base.html.twig' %}

{% block title %}<title>Отчет</title>{% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/kube.min.css') }}" data-template-style="true">
    <script type="text/javascript" src="{{ asset('js/kube.min.js') }}"></script>
    <div class="content--page">
        <div id="allrecords" class="t-records" style="overflow: hidden;">
            {{ report | raw }}
            <script>$K.init();</script>
        </div>
    </div>
{% endblock %}