{% extends 'landing/base.html.twig' %}

{% block title %}Отчет{% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{{ asset('report/kube.min.css') }}" data-template-style="true">
    <div class="content--page">
        <div id="allrecords" class="t-records" style="overflow: hidden;">
            {{ report | raw }}
            <script>$K.init();</script>
        </div>
    </div>
{% endblock %}