{% extends 'landing/base.html.twig' %}

{% block title %}О сервисе{% endblock %}

{% block content %}
    <div class="content--page">
        <div id="allrecords" class="t-records" style="overflow: hidden;">
        </div>
    </div>
{% endblock %}