{% extends 'landing/base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="content--page">
        <div id="allrecords" class="t-records" style="overflow: hidden;">
            <div id="content">
                <div id="default-tab" class="b-stripe b-stripe_content_base b-stripe_type_overhang contacts--page">
                    <div class="b-stripe__in">
                        <div class="container">
                            <div class="row">
                                <div class="bread__crumbs mt-64">
                                    <a href="/" class="bread__crumbs__top">Главная</a><span class="active-page">Офисы в Москве</span>
                                </div>

                                <h1 class="h1 wow fadeIn full-opacity" data-wow-duration=".5s"
                                    style="visibility: visible; animation-duration: 0.5s; animation-name: fadeIn;">
                                    <span>Офисы в Москве</span>
                                </h1>
                            </div>
                        </div>

                        <link rel="stylesheet" type="text/css"
                              href="{{ asset('css/efsol_style.css') }}">

                        <div class="e_page">
                            <div class="contacts--container mb-104 row">
                                <div class="col-md-6">
                                    <div class="contacts--address">
                                        <div class="container--contacts--address">
                                            <h3 class="h3-yellow-small grey-figure wow fadeIn" data-wow-duration=".5s"
                                                style="visibility: visible; animation-duration: 0.5s; animation-name: fadeIn;">
                                                <span>Центральный офис</span>
                                            </h3>
                                            <p>Адрес: 117218, г. Москва, улица Кедрова, дом&nbsp;14, корпус&nbsp;2, этаж
                                                5&nbsp;пом. I&nbsp;ком. 1-12</p>
                                            <a href="tel:+74952300303" class="tel--number">+7&nbsp;495&nbsp;230&nbsp;03&nbsp;03</a>
                                            <p class="mail"><a href="mailto:efsol@efsol.ru"
                                                               onmouseover="$(this).attr('href', 'mailto:efsol@efsol.ru')"
                                                               onclick="try{yaCounter213614.reachGoal('CLICK_MAILTO');}catch(e){}">efsol@efsol.ru</a>&nbsp;(общий)
                                            </p>
                                            <p class="mail mb-0"><a href="mailto:staff@efsol.ru"
                                                                    onmouseover="$(this).attr('href', 'mailto:staff@efsol.ru')"
                                                                    onclick="try{yaCounter213614.reachGoal('CLICK_RESUME');}catch(e){}">staff@efsol.ru</a>&nbsp;(для
                                                резюме)</p>

                                            <h3 class="h3-yellow-small grey-figure wow fadeIn mt-64"
                                                data-wow-duration=".5s"
                                                style="visibility: visible; animation-duration: 0.5s; animation-name: fadeIn;">
                                                <span>График работы</span>
                                            </h3>
                                            <p class="schedule">Пн - Пт: с 10.00 - 19.00</p>
                                            <p class="schedule mb-0">Сб - Вс: выходной</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 contacts--map">
                                    <div id="YaMaps2" style="width: 100%; height: 100%;">
                                        <ymaps class="ymaps-2-1-79-map" style="width: 690px; height: 564px;">
                                            <ymaps class="ymaps-2-1-79-map ymaps-2-1-79-i-ua_js_yes ymaps-2-1-79-map-bg ymaps-2-1-79-islets_map-lang-ru"
                                                   style="width: 690px; height: 564px;">
                                                <ymaps class="ymaps-2-1-79-inner-panes">
                                                    <ymaps class="ymaps-2-1-79-events-pane ymaps-2-1-79-user-selection-none"
                                                           unselectable="on"
                                                           style="height: 100%; width: 100%; top: 0px; left: 0px; position: absolute; z-index: 2500; cursor: url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;) 16 16, url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;), move;"></ymaps>
                                                    <ymaps class="ymaps-2-1-79-ground-pane"
                                                           style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 501;">
                                                        <ymaps style="z-index: 150; position: absolute;">
                                                            <canvas height="820" width="946"
                                                                    style="position: absolute; width: 946px; height: 820px; left: -128px; top: -128px;"></canvas>
                                                        </ymaps>
                                                    </ymaps>
                                                    <ymaps class="ymaps-2-1-79-copyrights-pane"
                                                           style="height: 0px; inset: auto 0px 0px; position: absolute; z-index: 5002;">
                                                        <ymaps>
                                                            <ymaps class="ymaps-2-1-79-copyright ymaps-2-1-79-copyright_logo_no"
                                                                   style="">
                                                                <ymaps class="ymaps-2-1-79-copyright__fog">…</ymaps>
                                                                <ymaps class="ymaps-2-1-79-copyright__wrap">
                                                                    <ymaps class="ymaps-2-1-79-copyright__layout">
                                                                        <ymaps class="ymaps-2-1-79-copyright__content-cell">
                                                                            <ymaps class="ymaps-2-1-79-copyright__content">
                                                                                <ymaps class="ymaps-2-1-79-copyright__text">
                                                                                    © Яндекс
                                                                                </ymaps>
                                                                                <ymaps class="ymaps-2-1-79-copyright__agreement">
                                                                                    &nbsp;<a
                                                                                            class="ymaps-2-1-79-copyright__link"
                                                                                            target="_blank"
                                                                                            href="https://yandex.ru/legal/maps_termsofuse/?lang=ru"
                                                                                            rel="noopener">Условия
                                                                                        использования</a></ymaps>
                                                                            </ymaps>
                                                                        </ymaps>
                                                                        <ymaps class="ymaps-2-1-79-copyright__logo-cell">
                                                                            <a class="ymaps-2-1-79-copyright__logo"
                                                                               href="" target="_blank"></a></ymaps>
                                                                    </ymaps>
                                                                </ymaps>
                                                            </ymaps>
                                                        </ymaps>
                                                        <ymaps class="ymaps-2-1-79-map-copyrights-promo">
                                                            <ymaps>
                                                                <ymaps class="ymaps-2-1-79-gotoymaps"
                                                                       title="Как добраться">
                                                                    <ymaps class="ymaps-2-1-79-gotoymaps__container">
                                                                        <ymaps class="ymaps-2-1-79-gotoymaps__pin"></ymaps>
                                                                        <ymaps class="ymaps-2-1-79-gotoymaps__text-container">
                                                                            <ymaps class="ymaps-2-1-79-gotoymaps__text">
                                                                                Как добраться
                                                                            </ymaps>
                                                                        </ymaps>
                                                                    </ymaps>
                                                                </ymaps>
                                                                <ymaps class="ymaps-2-1-79-gototaxi"
                                                                       title="Доехать на такси" style="">
                                                                    <ymaps class="ymaps-2-1-79-gototaxi__container">
                                                                        <ymaps class="ymaps-2-1-79-gototaxi__pin"></ymaps>
                                                                        <ymaps class="ymaps-2-1-79-gototaxi__text-container">
                                                                            <ymaps class="ymaps-2-1-79-gototaxi__text">
                                                                                Доехать на такси
                                                                            </ymaps>
                                                                        </ymaps>
                                                                    </ymaps>
                                                                </ymaps>
                                                                <a class="ymaps-2-1-79-gototech" target="_blank"
                                                                   href="https://tech.yandex.ru/maps/mapsapi/?from=api-maps ">Создать
                                                                    свою карту</a></ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                    <ymaps class="ymaps-2-1-79-controls-pane"
                                                           style="width: 100%; top: 0px; left: 0px; position: absolute; z-index: 4503;">
                                                        <ymaps class="ymaps-2-1-79-controls__toolbar"
                                                               style="margin-top: 10px;">
                                                            <ymaps class="ymaps-2-1-79-controls__toolbar_left"></ymaps>
                                                            <ymaps class="ymaps-2-1-79-controls__toolbar_right"></ymaps>
                                                        </ymaps>
                                                        <ymaps class="ymaps-2-1-79-controls__bottom"
                                                               style="top: 564px;"></ymaps>
                                                        <ymaps class="ymaps-2-1-79-controls__control"
                                                               style="margin-right: 0px; margin-left: 0px; position: inherit; inset: 108px auto auto 10px;">
                                                            <ymaps>
                                                                <ymaps class="ymaps-2-1-79-zoom" style="height: 150px">
                                                                    <ymaps class="ymaps-2-1-79-zoom__plus ymaps-2-1-79-zoom__button ymaps-2-1-79-float-button ymaps-2-1-79-user-selection-none"
                                                                           unselectable="on">
                                                                        <ymaps class="ymaps-2-1-79-zoom__icon ymaps-2-1-79-float-button-icon"></ymaps>
                                                                    </ymaps>
                                                                    <ymaps class="ymaps-2-1-79-zoom__minus ymaps-2-1-79-zoom__button ymaps-2-1-79-float-button ymaps-2-1-79-user-selection-none"
                                                                           unselectable="on">
                                                                        <ymaps class="ymaps-2-1-79-zoom__icon ymaps-2-1-79-float-button-icon"></ymaps>
                                                                    </ymaps>
                                                                    <ymaps class="ymaps-2-1-79-zoom__scale">
                                                                        <ymaps class="ymaps-2-1-79-zoom__runner ymaps-2-1-79-zoom__button ymaps-2-1-79-float-button ymaps-2-1-79-zoom__runner__transition ymaps-2-1-79-touch-action-none ymaps-2-1-79-user-selection-none"
                                                                               unselectable="on" style="top: 39px;">
                                                                            <ymaps class="ymaps-2-1-79-zoom__icon ymaps-2-1-79-float-button-icon ymaps-2-1-79-float-button-icon_icon_runner"></ymaps>
                                                                        </ymaps>
                                                                    </ymaps>
                                                                </ymaps>
                                                            </ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                    <ymaps class="ymaps-2-1-79-places-pane"
                                                           style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 2004;">
                                                        <ymaps class="ymaps-2-1-79-placemark-overlay ymaps-2-1-79-user-selection-none"
                                                               unselectable="on"
                                                               style="z-index: 650; height: 0px; width: 0px; position: absolute; left: 345px; top: 282px;">
                                                            <ymaps>
                                                                <ymaps class="ymaps-2-1-79-islets_icon-with-caption">
                                                                    <ymaps class="ymaps-2-1-79-islets_icon-with-caption__caption-block">
                                                                        <ymaps class="ymaps-2-1-79-islets_icon-caption"
                                                                               style="padding: 0px; max-width: 0px;"></ymaps>
                                                                    </ymaps>
                                                                    <ymaps id="id_1634549910654561197">
                                                                        <ymaps class="ymaps-2-1-79-svg-icon ymaps_https___api_maps_yandex_ru_2_1_79_1356018796887islands_icon___1E98FF_34x41_1634549910878"
                                                                               style="position: absolute; width: 34px; height: 41px; left: -11px; top: -38px;">
                                                                            <ymaps class="ymaps-2-1-79-svg-icon-content"
                                                                                   style="font: 13px Arial, sans-serif; position: absolute; text-align: center;left: 5px;top: 6px;width: 16px;height: 16px;">
                                                                                <ymaps></ymaps>
                                                                            </ymaps>
                                                                        </ymaps>
                                                                    </ymaps>
                                                                </ymaps>
                                                            </ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                </ymaps>
                                            </ymaps>
                                        </ymaps>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}