{% extends 'landing/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block header %}
    <header id="home" class="header-area">
        <div class="navigation fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <img src="{{ asset('images/logo.png') }}" alt="Logo">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active"><a class="page-scroll" href="#scanner">Сканировать</a>
                                    </li>
                                    <li class="nav-item"><a class="page-scroll" href="#description">Описание решаемых
                                            проблем</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#possibilities">Возможности
                                            продукта</a></li>
                                    <li class="nav-item"><a class="page-scroll" href="#contacts">Контактная форма</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    {% include 'landing/blocks/functional.html.twig' %}

    {% include 'landing/blocks/description.html.twig' %}

    {% include 'landing/blocks/possibilities.html.twig' %}

    {% include 'landing/blocks/contacts.html.twig' %}

{% endblock %}
